*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 1% 30%;
    overflow-y: hidden;
}

form{
    background: #fff;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    padding: 1.5%;
    width: 600px;
    border-radius: 10px;
}
form p{
    display: flex;
    flex-direction: column;
    margin: 1.5%;
}
form p span{
    font-size: 1.1rem;
    margin: 1% 0;
    color: gray;
}
form p input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;

}
form #gender{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}
form p #gendermale,
form p #genderfemale{
    height: 20px;
}
form p select{
    height: 50px;
    border: 1px solid #aaa;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    color: gray;
}
form p select option{
    color: #000;
}
button{
    width: 100%;
    padding: 3% 0%;
    background: blue;
    color: #fff;
    font-size: 1rem;
    margin-top: 3%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}
